<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style1.css">
        <title>Admin</title>
    </head>
    <body>
        <h1>管理ページ</h1>
        {% for user in users %}
        <user>
            <p>{{user.id}}</p>
            <p>{{user.name}}</p>
            <p>強み：{{user.experience}}</p>
            <a href='/admin_update/{{user.id}}' role='button'>編集</a>
            <a href='/admin_delete/{{user.id}}' role='button'>削除</a>
        </user>
        {% endfor %}
    </body>
</html>