<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h1>ログイン</h1>
        <form method="POST">
            <label for="name">ユーザ名</label>
            <input type="text" name="name">
            <label for="password">パスワード</label>
            <input type="text" name="password">
            <input type="submit" value="ログイン">
        </form>
        <br>
        <p>サインアップがまだの場合 → 
        <a href="/signup" role="button">サインアップ</a>
        </p>
    </body>
</html>