<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style1.css">
        <title>main</title>
    </head>
    <body>
        <header>
            <h1 class="title">Celeste</h1>
            <nav class="nav">
            <ul class="menu-group">
                <li class="menu-item"><a href="#">Contact</a></li>
                <li class="menu-item"><a href="/mypage">MyPage</a></li>
            </ul>
        </nav>
        </header>
        <h1 class="name">メインページ</h1>
        <p>情報を入力してください</p>
        <form id="inputForm", method="POST">
            <input type="text" name="data" id="dataInput">
            <input type="submit" value="submit">
            <!-- <input type="button" value="submit" onclick="postData()"> -->
        </form>

        <p>{{output}}</p>
          
        <!-- <div id="result"></div>
        <script src="src/static/js/function.js"></script> -->
    </body>
</html>