<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style1.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <title>Main</title>
    </head>
    <body>
        <header>
            <h1 class="name">Celeste</h1>
            <ul class="menu-group">
                <li class="menu-item"><a class="static-button" href="#">Contact</a></li>
                <li class="menu-item"><a class="static-button" href="/mypage/{{id}}">MyPage</a></li>
            </ul>
        </header>
        <form id="inputForm", method="POST" autocomplete="off" class='input-form'>
            <input type="text" name="lower" id="lower-limit" class="form">
            <input type="text" name="upper" id="upper-limit" class="form">

            企業 <input type="text" name="company_name" list="companies" placeholder="テキスト入力もしくはダブルクリック" autocomplete="off">
              <datalist id="companies">
                {% for company in companies %}
                    <option value={{company.company_name}}>
                {% endfor %}
              </datalist>
              <input type="submit" value="&#xf1d8;" class="fas send-button">
        </form>
        <p class="output">{{output}}</p>
    </body>
</html>