<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style1.css">
        <title>Confirm</title>
    </head>
    <body>
        <div class="top-header">
            <h1 class="name">Wraites</h1>
        </div>
        <h2>サインアップ項目確認</h2>
        <p class="id">{{id}}</p>
        <p class="name">{{name}}</p>
        <p class="experience">{{experience}}</p>
        <br>
        <p>
        <a href="/signin" role="button">サインインはこちら</a>
        </p>
    </body>
</html>