<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style1.css">
        <title>Signin</title>
    </head>
    <body>
        <div class="top-header">
            <h1 class="name">就活支援システム(仮)</h1>
        </div>
        <h2>サインイン</h2>
        <form method="POST">
            <label for="id">ユーザID</label>
            <input type="text" name="id">
            <label for="password">パスワード</label>
            <input type="text" name="password">
            <input type="submit" value="サインイン">
        </form>
        <br>
        <p>サインアップがまだの場合 → 
        <a href="/signup" role="button">サインアップ</a>
        </p>
    </body>
</html>