<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style1.css">
        <title>Signup</title>
    </head>
    <body>
        <div class="top-header">
            <h1 class="name">就活支援システム(仮)</h1>
        </div>
        <h2>サインアップ</h2>
        <form method="POST">
            <label for="name">名前</label>
            <input type="text" name="name">
            <label for="password">パスワード</label>
            <input type="text" name="password">
            <label for="strong">強み</label>
            <input type="text" name="strong">
            <input type="submit" value="新規登録">
        </form>
    </body>
</html>