<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Signup</title>
    </head>
    <body>
        <h1>サインアップ</h1>
        <form method="POST">
            <label for="name">名前</label>
            <input type="text" name="name">
            <label for="password">パスワード</label>
            <input type="text" name="password">
            <label for="strong">強み</label>
            <input type="text" name="strong">
            <input type="submit" value="新規登録">
        </form>
    </body>
</html>