<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style1.css">
        <title>Top Page</title>
    </head>
    <body>
        <div class="top-header">
            <h1 class="name">Wraites</h1>
            <ul class="signinup-group">
                <li class="signinup-item"><a class="signinup-button" href="/signin" role="button">サインイン</a></li>
                <li class="signinup-item"><a class="signinup-button" href="/signup" role="button">サインアップ</a></li>
            </ul>
        </div>
        <p class="catchphrase">未来を手に、無限の可能性へ。<br>あなたの想像を現実にする、創造的なシステムへようこそ。</p>
        <p class="catchphrase_eng">Celeste Inc.<p>
        <p class="description">
        </p>
    </body>
</html>