<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style1.css">
        <title>Top Page</title>
    </head>
    <body>
        <div class="top-header">
            <h1 class="name">Wraites</h1>
            <ul class="signinup-group">
                <li class="signinup-item"><a class="signinup-button" href="/signin" role="button">サインイン</a></li>
                <li class="signinup-item"><a class="signinup-button" href="/signup" role="button">サインアップ</a></li>
            </ul>
        </div>
        <p class="catchphrase">キャッチコピー<br>キャッチコピー</p>
        <p class="catchphrase_eng">Nice, Better Catchphrase <p>
        <p class="description">
            就活支援システム<br>
            説明説明説明説明説明説明<br>
            説明説明説明説明説明説明<br>
            説明説明説明説明説明説明<br>
            説明説明説明説明説明説明
        </p>
    </body>
</html>