<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style1.css">
        <title>Hello world</title>
    </head>
    <body>
        <h1>就活支援システム(仮)</h1>
        <a href="/signin" role="button">サインイン</a>
        <br>
        <a href="/signup" role="button">サインアップ</a>
        {% for user in users %}
        <user>
            <h2>{{ user.name }}</h2>
            <p>強み：{{ user.strong }}</p>
        </user>
        {% endfor %}
    </body>
</html>